
#sign_in {
   display: flex;
   justify-content: center;
   margin: 250px auto auto auto;
}

input {
    width: 275px;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;
    left: 20px;
}
a {
    text-decoration: none;
    
}

.link {
    display: flex;
    justify-content: left;
   
}